In [ ]:
#first let's try to get the powerplant databases

In [ ]:
#coal powerplant data base from 'https://powerplantmatching.readthedocs.io/en/latest/getting-started.html'

In [3]:
# !pip install powerplantmatching
import powerplantmatching as pm
df = pm.powerplants(from_url=True)

INFO:numexpr.utils:Note: NumExpr detected 10 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
INFO:numexpr.utils:NumExpr defaulting to 8 threads.
WARNING:powerplantmatching.plot:Cartopy not existent.
INFO:powerplantmatching.collection:Retrieving data from https://raw.githubusercontent.com/FRESNA/powerplantmatching/v0.5.12/powerplants.csv
INFO:powerplantmatching.collection:Store data at /Users/javi/.local/share/powerplantmatching/data/out/default/matched_data_red.csv

In [4]:
df.shape

(6374, 18)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6374 entries, 0 to 6616
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 6374 non-null   object
 1   Fueltype             6374 non-null   object
 2   Technology           5702 non-null   object
 3   Set                  6374 non-null   object
 4   Country              6374 non-null   object
 5   Capacity             6374 non-null   float64
 6   Efficiency           542 non-null    float64
 7   DateIn               4450 non-null   float64
 8   DateRetrofit         1871 non-null   float64
 9   DateOut              349 non-null    float64
 10  lat                  6374 non-null   float64
 11  lon                  6374 non-null   float64
 12  Duration             452 non-null    float64
 13  Volume_Mm3           6374 non-null   float64
 14  DamHeight_m          6374 non-null   float64
 15  StorageCapacity_MWh  6374 non-null   float64
 16  EIC                  6374 non-null   object
 17  projectID            6374 non-null   object
dtypes: float64(11), object(7)
memory usage: 946.1+ KB

In [6]:
df.isna().sum()

Matched Data
Name                      0
Fueltype                  0
Technology              672
Set                       0
Country                   0
Capacity                  0
Efficiency             5832
DateIn                 1924
DateRetrofit           4503
DateOut                6025
lat                       0
lon                       0
Duration               5922
Volume_Mm3                0
DamHeight_m               0
StorageCapacity_MWh       0
EIC                       0
projectID                 0
dtype: int64

In [7]:
df['Fueltype'].value_counts()

Fueltype
Hydro          3289
Wind           1255
Natural Gas     599
Solar           383
Hard Coal       282
Lignite         131
Bioenergy       116
Oil              97
Waste            94
Nuclear          66
Other            38
Geothermal       24
Name: count, dtype: int64

In [14]:
df['Technology'].unique()

array(['Steam Turbine', 'Reservoir', 'Pumped Storage', 'Run-Of-River',
       'CCGT', 'Onshore', 'Offshore', 'Unknown', 'Marine', 'Not Found',
       nan, 'Csp', 'Pv', 'Offshore Mount Unknown', 'Offshore Hard Mount',
       'Assumed Pv', 'CSP', 'Combustion Engine'], dtype=object)

In [15]:
df['Set'].unique()

array(['PP', 'Store', 'CHP'], dtype=object)

In [17]:
df['Country'].unique()

array(['Netherlands', 'France', 'Italy', 'United Kingdom', 'Switzerland',
       'Austria', 'Belgium', 'Sweden', 'Poland', 'Germany', 'Finland',
       'Portugal', 'Denmark', 'Norway', 'Slovakia', 'Slovenia', 'Ireland',
       'Greece', 'Albania', 'Spain', 'Hungary', 'Romania', 'Bulgaria',
       'Serbia', 'Latvia', 'Lithuania', 'Bosnia and Herzegovina',
       'Croatia', 'Montenegro', 'Luxembourg', 'Estonia', 'Ukraine',
       'Moldova', 'Czech Republic'], dtype=object)

In [18]:
df.tail()

Matched Data,Name,Fueltype,Technology,Set,Country,Capacity,Efficiency,DateIn,DateRetrofit,DateOut,lat,lon,Duration,Volume_Mm3,DamHeight_m,StorageCapacity_MWh,EIC,projectID
id,,,,,,,,,,,,,,,,,,
6612,Zabrze,Hard Coal,NaN,PP,Poland,68.223335,NaN,1976.0,NaN,NaN,50.2992,18.8123,NaN,0.0,0.0,0.0,{nan},{'BEYONDCOAL': {'BEYOND-PL-237'}}
6613,Zalau,Lignite,NaN,PP,Romania,0.000000,NaN,1982.0,NaN,2015.0,47.2103,23.0324,NaN,0.0,0.0,0.0,{nan},{'BEYONDCOAL': {'BEYOND-RO-19'}}
6614,Zavod,Lignite,NaN,PP,Czech Republic,142.931681,NaN,1970.0,NaN,NaN,49.7959,18.3058,NaN,0.0,0.0,0.0,{nan},{'BEYONDCOAL': {'BEYOND-CZ-30'}}
6615,Zlin,Lignite,NaN,PP,Czech Republic,56.250532,NaN,1938.0,NaN,NaN,49.2254,17.6538,NaN,0.0,0.0,0.0,{nan},{'BEYONDCOAL': {'BEYOND-CZ-59'}}
6616,Zvolenska,Lignite,NaN,PP,Slovakia,40.574155,NaN,1986.0,NaN,NaN,48.5667,19.1700,NaN,0.0,0.0,0.0,{nan},{'BEYONDCOAL': {'BEYOND-SK-17'}}